#comment_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); 
    box-shadow: 0px 0px 5px 6px rgba(0,0,0,0);
}

.post-detail {
    border: 1px solid #E0DFDC;
    width: 80%;
    height: auto;
    margin: 20px;
    background-color: #FFFFFF;
}

.post-detail-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F3F2EF;
}

.comment-pic {
    width: 45px;
    height: 45px;
    border-radius: 160px;
    margin: 10px
}

.comment-input {
    border: 1px solid #E0DFDC;
    border-radius: 25px;
}