@import '../../../../colors.scss';

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #F3F2EF;
}

#post-container {
    background-color: #FFFFFF !important;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.14); 
    box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.14);
    width: 60%;
    height: 20vh;
    margin: 20px;

} 