@import '../../colors.scss';

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: $principal_color;
    color: white !important;
    font-size: 1rem;
    font-weight: 550;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header div span{
    margin: 1em;
}



.header span a button {
    border-radius: 160px;
    color: #0a66c2;
    background-color: transparent;
    cursor: pointer;
    border: solid 1px #0a66c2;
    font-weight: 550;
    padding: 0.5em
}

a {
    all: unset;
    cursor: pointer;
    color: #00000099 !important;
}

.logo {
    padding-left: 80px;
}

.search_bar {
    color: #00000099;
}