@import '../../colors.scss';


#register_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    min-height: 25vh;
    margin: auto;
    background-color: $principal_color;
    padding: 1em;
    border-radius: 0.5em;
    height: 60vh;
    -webkit-box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.73); 
    box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.73);
}

form input{
    all: unset;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    color: black;
}

.submit-button{
    all: unset;
    background-color: #0a66c2;
    padding: 1em;
    border-radius: 1.8em;   
     color: white;
    cursor: pointer;
    text-align: center;
}

.back-button {
    all: unset;
    background-color: transparent;
    padding: 0;
    border-radius: 1em;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

p {
    text-align: center;
}